button div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.primary {
  border: 1px solid #264FB0;
  border-radius: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: #ffffff;
  background-color: #264FB0;
  font-family: "Poppins-Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;
  cursor: pointer;
  white-space: nowrap;
  text-align: center;
}
.primary:hover{
  background-color: #343232;
}



.secondary {
  border: 1px solid #F25F38;
  border-radius: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: "#fff";
  background-color: #F25F38;
  font-family: "Poppins-Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;
  cursor: pointer;
  white-space: nowrap;
  text-align: center;
}
.secondary:hover{
  background-color: #343232;
  border: 1px solid #343232;
}

.outlined {
  border: 1px solid #777680;
  border-radius: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: #14151f;
  background-color: transparent;
  font-family: "Poppins-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1px;
  cursor: pointer;
  white-space: nowrap;
  text-align: center;
}
.outlined:hover{
  background-color: #26B086;
  border: 1px solid #26B086;
}

.ghost {
  border: none;
  border-radius: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: #14151f;
  background-color: transparent;
  font-family: "Poppins-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;
  cursor: pointer;
  white-space: nowrap;
  text-align: center;
}

.xxs {
  padding: 4px 12px;
}

.xs {
  padding: 6px 14px;
}

.sm {
  padding: 6px 16px;
}

.md {
  padding: 8px 24px;
}

.lg {
  padding: 12px 24px;
}
